<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application</key>
	<integer>1</integer>
	<key>custom</key>
	<string>-- This is v0.7 of the custom script for AlfredApp for iTerm 3.1.1+
-- created by Sinan Eldem www.sinaneldem.com.tr

on alfred_script(q)
	run script "
		on run {q}
			tell application \"iTerm\"
    				set newWindow to (create window with default profile)
    				tell current session of newWindow
    					write text q
    				end tell
			end tell
		end run
	" with parameters {q}
end alfred_script</string>
</dict>
</plist>
